[submodule "deepseek-brain"]
	path = deepseek-brain
	url = https://github.com/ops120/deepseek-brain.git
[submodule "doubao-brain"]
	path = doubao-brain
	url = https://github.com/ops120/doubao-brain.git
[submodule "gemini-brain"]
	path = gemini-brain
	url = https://github.com/ops120/gemini-brain.git
[submodule "grok-brain"]
	path = grok-brain
	url = https://github.com/ops120/grok-brain.git
[submodule "qwen-brain"]
	path = qwen-brain
	url = https://github.com/ops120/qwen-brain.git
[submodule "chatglm-brain"]
	path = chatglm-brain
	url = https://github.com/ops120/chatglm-brain.git
[submodule "metaso-brain"]
	path = metaso-brain
	url = https://github.com/ops120/metaso-brain.git
[submodule "kimi-brain"]
	path = kimi-brain
	url = https://github.com/ops120/kimi-brain.git
